.containerFlex {
    height: 400px;
    background-color: #e5e7eb;

}

.container {
    margin: ;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#headerDiv {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

#headerContainer {
    display: flex;
    flex direction: row;
    background-color: ;
    padding-left: 100px;

}

#introPicture{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
}


#headerLogo {
    flex-grow: 5;
    background-color: white;
    font-size: 50px;
}


.headerLinks {
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
    border-style: double;
}


.introContainer {
    padding-top: 70px;
    flex-direction: row;
    display: flex;
    padding-left: 100px;

}

#introSignup {
    width: 140px;
    height: 140px;
    flex-grow: 1;
}

#introPicture {
    width: 140px;
    height: 140px;
    flex-grow: 1;
}

#btnSignup {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: oldlace;
    margin-top: 0px;
}

#infoContainer {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 50px;
}

#random-info {
    text-align: center;
}

#boxContainer {
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 20px;
}

#quoteContainer {
    text-align: right;
    padding-right: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#footerContainer{
    padding-right: 50px;
    padding-left: 100px;
    display: flex;
    justify-content: flex-end
}

#footerSignupContainer{
    margin-top: 70px;
    height: 100px;
    background-color: aquamarine;
    font-size: small;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

headerBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
}